{% extends 'base.html' %}
{% block content %}



        
<div class=“row”>
  <div class=“col-sm-6 “>
  {% for city in cities %}
    <div class=“card”>
      <div class=“card-body d-grid gap-2">
        <h5 class=“card-title”>{{ city.city }}</h5>
        <p class=“card-text”>{{ city.country }}</p>
        <p class=“card-text”><img src="{{ city.image }}" alt="city picture" class="postImg"></p>
        </a>
      </div>
    </div>
 
  {% endfor %}
</div>
<div class="container">
<h2>POSTS</h2>
    <table class="table-danger">
      <tbody>
        {% for post in posts %}
          <tr>
            <td><a href="/posts_show"><h4>{{post.title}}</h4></a></td>
            <td>{{ post.body }}</td>
            <td><button class="btn btn-outline-warning"><a href="/posts_edit/{{ post.id }}">Edit</a></button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}