{% extends 'base.html' %}
{% block content %}
<div class="clearfix">
  <img src="https://qtxasset.com/styles/breakpoint_sm_default_480px_w/s3/travelagentcentral/1597853698/GettyImages-1136437406.jpg/GettyImages-1136437406.jpg?J3neYunxLcKFuuBDV7tatFNIawH6Ascs&itok=TBkxtz0m" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Night-time view of Golden Gate Bridge">

<h1>San Francisco</h1>
  <p> 
    Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris paddenstoel nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>


</div>
{% endblock %}