{% extends 'base.html' %}

{% block content %}

{% for city in cities %}
<h1>{{city.city}}</h1>
{% endfor %}

 <div class="row">
  <div class="col-sm-6 ">
  {% for city in cities %}
    <div class="card">
      <div class="card-body d-grid gap-2">
        <a href="" class="btn btn-warning">
        <h5 class="card-title">{{ city.city }}</h5>
        <p class="card-text">{{ city.country }}</p>
        <p class="card-text">{{ city.image }}</p>
        </a>
      </div>
    </div>
  {% endfor %}  
  </div>
{% endblock %} 

{% comment %} <div class="row">
  <div class="col-sm-6 ">
        <h5 class="card-title">{{ city.city }}</h5>
        <p class="card-text">{{ city.country }}</p>
        <p class="card-text">{{ city.image }}</p>
        </a>
      </div>
    </div>
  </div> {% endcomment %}



{% comment %} {% extends 'base.html' %}
{% block content %}

<div class="cities-show-btn">
<div class="d-grid gap-2 col-9 mx-auto">
 {% for city in cities %}
  <div class="card">
    <a href="/posts_show" class="btn btn-outline-danger">
      <div class="card-body">
        <h5 class="card-title">{{ city.city }}</h5>
      </div>
    </a>
  </div>
 {% endfor %} 
<div>
 


</div>
{% endblock %} {% endcomment %}