{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>Travel Wayfarer</title>
  <link rel="stylesheet" type="text/css"href="{% static 'css/style.css' %}"/>
  {% block scripts %} {% endblock %}
</head>

<body>
  <ul class="navBar" style="min-width: 101vw; margin-left: -1vw; margin-top: -1vh;">
    <li><a href="/">&#x263C Wayfarer</a></li>
    <li style="float:right"><a href="{% url 'signup' %}">Create Account</a></li>
    <li style="float:right"><a href="{% url 'login' %}">Sign In</a></li>
  </ul>
    {% block content %}
    {% endblock %}
    <footer class="page-footer">
        <div class="right" style="position: absolute; margin-bottom: 0;">All Rights Reserved, &copy; 2021 Wayfarer &nbsp;</div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>