<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel Wayfarer</title>
  <link rel="stylesheet" type="text/css" href="semantic/dist.semantic.min.css">
  <link rel="stylesheet" href="/home/platothegeek/sei/Project-Wayfarer/main_app/static/css/style.css">
</head>
<body>
  <ul class="navBar" style="min-width: 100.75vw; margin-left: -.75vw; margin-top: -.75vh;">
    <li class="logo"><i class="sun icon"></i>Wayfarer</li>
    <li style="float:right"><a href="">Create Account</a></li>
    <li style="float:right"><a href="">Sign In</a></li>
   </ul>
    {% block content %}
    {% endblock %}
</body>
</html>