<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Wayfarer</title>
  <link 
    rel="stylesheet" 
    type="text/css"
    href="satic/css/style.css"
    />
</head>
<body>
    <ul class="navBar" style="min-width: 100.75vw; margin-left: -.75vw; margin-top: -.75vh;">
        <li><i class="sun icon"></i></li>
        <li class="logo">Wayfarer</li>
        <li style="float:right"><a onclick=openCreateForm()>Create Account</a></li>
        <li style="float:right"><a onclick=openSignInForm()>Sign In</a></li>
    </ul>
    {% comment %} Pop up for signing in {% endcomment %}
<div class="form-popup" id="signInForm">
    <form method="POST" id="login-form" action="{% url 'login' %}">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" class="btn" value="login">
        <button class="btn cancel" onclick="closeForm()">Close</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
    {% comment %} Pop up for creating an account {% endcomment %}
<div class="form-popup" id="createAccountForm">
    <form method="POST" action="{% url 'signup' %}">
	    {% csrf_token %} {{ form.as_p }}
	    <input type="submit" class="btn" value="signup" />
    </form>
</div>   
    <h1>Home page (:</h1>
</body>

{% comment %} Javascript for displaying log in and sign up form  {% endcomment %}

<script> 
function openCreateForm() {
  document.getElementById("createAccountForm").style.display = "block";
}

function openSignInForm() {
  document.getElementById("signInForm").style.display = "block";
}

function closeSignInForm() {
  document.getElementById("signInForm").style.display = "none";
}

function closeCreateForm() {
  document.getElementById("createAccountForm").style.display = "none";
}
</script>
</html>
