.carousel {
    display: inline-block;
    max-height: 10vh;
    max-width: 80vw;
    min-width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
.link {
    color: #690C35
}
.sun {
  color: #ea5f2d;
}
.red-text {
    color: red;
    font-size: 25px;
}
.errorlist {
    display: none;
}
.logo {
  font-size: 20px;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.logo:hover{
  background-color: #111;
}
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
.account a:hover {
    background-color: #690C35;
    color: #f0edeb;
  }

  /* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
 }
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .carousel {
    display: inline-block;
    max-height: 10vh;
    max-width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}
  
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

  /* Base.html */
body {
    background-color: #f0edeb;
}

.page-footer {
    position: relative;
    bottom:0;
    left:1%;
    margin: 1%;
}

  /* Home.html */
.wayfarerIs {
    text-align: center;
    padding: 2%;
}
.btn-login {
    background-color: whitesmoke;
    border: solid 3px  #ea5f2d;
    color: #ea5f2d;
    min-height: 3vw;
    margin-right: 40vw;
    margin-left: 40vw;
    font-size: 25px;
    border-radius: 2em;
    display: inline-block;
    box-sizing: border-box;
    min-width: 20vw;
}
  .navBar {
      font-size: 20px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(134,15,68);
}

#skyline {
  margin: 0;
  margin-bottom: -5vh;
  margin-top: -5vh;
  margin-left: -1vw;
  min-width: 101vw;
  max-width: 101vw;
}
table {
  border-collapse: collapse;
  margin-bottom: 25px;
  margin-left: -1vw;
  margin-top: 5vh;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 -25px 100px #ea5f2d;
  min-width: 101vw;
  border: solid 1px #860f44;
}
tr {
  background-color: #860f44;
  color: #ffffff;
  text-align: left;
}
th,
td {
  padding: 12px 15px;
}
td {
  background-color:#860f44;
}
th {
  font-size: 25px;
}
input {
  min-width: 250px;
  min-height: 50px;
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  background-color: #860f44;
  color: white;
  border: none;
  border-bottom: solid 1px white;
}
.navBar {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #690C35;
    color: #f1e6db;
  }


  /* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
 }
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}
  
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

  /* Base.html */
body {
    background-color: #f0edeb;
}

.navBar {
    background-color: rgb(134,15,68);
}

.page-footer {
    position: relative;
    bottom:0;
    left:1%;
}

  /* Home.html */
.wayfarerIs {
    text-align: center;
    padding: 2%;
    margin: 1%;
}
/* .carousel {
  display: inline-block;
  max-height: 10vh;
  max-width: 80vw;
  min-width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
} */

.carousel-item {
  height: 40rem;
  background: #f0edeb;
  
  

}